.banner .product-banner{
	width:1300px;
	flex-shrink:3;
    background-image: url(../../images/banner.jpg);
    color: white;
	background-size: cover;
	background-position: center;
    padding:30px 5%;
	margin-top:5%;
    
}

.banner .product-banner h1{
	margin:0;
	font-size:150px;
	width:90%;
}
.banner .product-banner p{
	font-weight:300;
	color:#F4F3ED;
	font-size: 20px;
	margin: 2px;
	color: #7f5539;
}
.banner .product-banner button{
	margin-top:20px;
	padding:15px 20px;
	font-size:15px;
	border-radius: 10px;
	border:none;
	outline:none;
	cursor:pointer;
}
.first .product-banner button{
	background-color: #F4F3ED;
	border:1px solid #F4F3ED;
	color:#7f5539;
	font-weight:bold;
	transition: background-color 0.5s, color 0.5s;
}
.first .product-banner button:hover{
	background-color: inherit;
	color: #F4F3ED;}